#spinner {
    background: url('./loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.graph {
    width: 90%;
    height: 300px;
}

.graph-block {
    border: 3px solid black;
    border-radius: 15px;
}

.header-border {
    border: 3px solid gray;
}

.center-y {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}